@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
}

.dropdown-item {
  color: #d10069e5;
}

.form-control:focus {
  outline: none;
  border-color: #d10069e5;
  box-shadow: 0 0 3px #d10069e5;
}

#myTable th {
  color: #d10069e5;
}

.button {
  display: flex;
  justify-content: center;
}

.button-56 {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #111;
  border-radius: 8px;
  color: #d10069e5;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 38px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 24px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #d10069e5;
  border-radius: 8px;
  content: "";
  display: block;
  height: 38px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(6px, 6px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover::after {
  transform: translate(1px, 1px);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 760px) {
  .button-56 {
    padding: 0 48px;
  }
}

.table-title {
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  background-color: beige;
}

.table-container {
  text-align: center;
  margin-top: 4rem;
}

table {
  font-size: 12px;
  margin: auto;
}

th,
td {
  text-align: center;
  padding: 0.5rem;
}

.button-55 {
    display: inline-block;
    background: #d10069e5;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
  }
  .button-55:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
    transform: translate(0px, -10px) scale(1.2);
}

.pagination-container {
  height: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.pagination-link {
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 8px;
  padding: 4px 12px;
  margin-left: 6px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  color: #d10069e5;
  text-decoration: none;
  transition: background-color 0s ease;
  border-radius: 12px;
}

.pagination-link:hover {
  background-color: #d10069e5;
  color: #fff;
}

.pagination-link.active {
  background-color: #d10069e5;
  color: #fff;
}
